/* Centered text section */
.text-center {
    width:500px;
   
    text-align: center;
    margin: 10px 27%;
    margin-bottom: 20px;
  }
  
  .text-center h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .text-center p {
    font-size: 16px;
    line-height: 150%;
    color: #666;
  }
  
  /* Product grid */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 columns for larger screens */
    padding: 30px 30px;
    gap: 13px;
  }
  
  .product-box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

  
  .product-stock {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1px;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: green; /* Green color for "Stock" text */
  }
  
  .stock-number {
    color: red; /* Red color for stock number */
  }
  
  .product-image {
    justify-content: center;
    width: 150px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .product-name {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 15px;
    color: #333;
  }
  
  .product-icon {
    background-color: #f2f2f2;
    padding: 7px;
    border-radius: 5px;
  }
  
  
  
  .product-discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f59342;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  @media (max-width: 991px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); 
      padding: 30px 70px;
    }
    .text-center {
        width:890px;
          margin: 10px 5%;
      }
      .product-box {
        width: 240px;
    }
    }
    @media (max-width: 768px) {
        .product-grid {
            padding: 30px 40px;
          }
        .product-box {
            width: 179px;
        }
        .text-center {
            width:720px;
            margin: 10px 2%;
              
          }

    }
    @media (max-width: 664px) {
        .text-center {
            width:600px;
            margin: 10px 6%;  
          }
          .product-box {
            width: 150px;
        }
    }
    @media (max-width: 430px) {
        .product-grid {
            grid-template-columns: repeat(2, 1fr); 
            padding: 30px 20px;
        }
        .product-box {
            width: 140px;
        }
        .text-center {
            width:400px;
            margin: 10px 2%;  
          }
    }
    @media (max-width: 390px) {
      .text-center {
        
        width:300px;
        margin: 10px 10%;  
      }
      .product-box {
        width: 130px;

    }

    }
    @media (max-width: 375px) {
        .text-center {
            width:350px;
            margin: 10px 3%;  
          }
          .product-box {
            width: 120px;
        }

    }
    @media (max-width: 360px) {
      .text-center {
          width:300px;
          margin: 10px 6%;  
        }
        .product-box {
        
          width: 120px;
      }
      .product-grid {
        display: grid;
        padding: 30px 10px;
        gap: 10px;
      }

  }
   
    @media (max-width: 320px) {
        .text-center {
        
            width:300px;
            margin: 10px 5%;  
          }
          .text-center h4 {
            font-size: 20px;

          }
          .text-center p {
            font-size: 14px;
          }
          .product-box {
            width: 100px;

        }
        .product-image {
        
          width: 100px;
          height: 120px;
          margin-bottom: 10px;
        }

    }





   
  
  /*@media (max-width: 360px) 
  {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
        padding: 30px 50px;
      }
    .product-box {
        width: 130px;
    }
    .text-center p {
        width:400px;
        margin-left: 7%;
        
    }
    .text-center h4 {
       
        margin-left: 6%;
      }

  }
  @media (max-width: 991px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); 
      padding: 30px 50px;
    }
    .product-box {
        width: 250px;
        height: 220px;
    }
    .text-center p {
        width:880px;
        margin-left: 7%;
        font-size: 17px;

      } 
  }
  @media (max-width: 768px) {
    .product-box {
        width: 230px;
    }
    .text-center h4 {
        margin-left: 80px;
      }

  }
  @media (max-width: 664px) {
    .product-grid {
        padding: 30px 30px;
      }
    .product-box {
        width: 155px;
    }
    .text-center h4 {
        margin-left: 7%;
      }
      .text-center p {
        width:580px;
        margin-left: 7%;
        line-height: 150%;
      } 
  }


  
  /*@media (max-width: 991px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); 
      padding: 30px 50px;
    }
    .product-box {
        width: 250px;
        height: 220px;
    }
    .text-center p {
        width:880px;
        margin-left: 7%;
        font-size: 17px;

      } 
  }
  @media (max-width: 768px) {
    .product-box {
        width: 230px;
    }
    .text-center h4 {
        margin-left: 80px;
      }

  }
  @media (max-width: 664px) {
    .product-grid {
        padding: 30px 30px;
      }
    .product-box {
        width: 155px;
    }
    .text-center h4 {
        margin-left: 7%;
      }
      .text-center p {
        width:580px;
        margin-left: 7%;
        line-height: 150%;
      } 
  }

  
  @media (max-width: 430px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 30px 30px;
    }
    .product-box {
        width: 200px;
    }
    .text-center h4 {
        margin-right: -30%;
        margin-left: 2%;
      }
      .text-center p {
        width:450px;
        margin-left: 15%;
        line-height: 150%;
      } 
  }
  
  @media (max-width: 360px) {
    .product-box {
        width: 100px;
    }
    .text-center p {
        width:400px;
    }

  }


  @media (max-width: 390px){
    .product-box {
        width: 182px;
    }

  }
  @media (max-width: 320px) {
    .text-center h4 {
        margin-right: -31%;
        margin-left: 3%;
      }
      .text-center p {
      margin-left: 5%;
      }
      .product-box {
        width: 140px;
    }


  }*/


  