.hero-section {
    background-color: rgba(150, 183, 235, 0.5); 
    padding: 64px 0;
  }
  
  .hero-container {
   
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  
  .hero-image {
    width: 31%;
  }
  .hero-image1 {
    width: 31%;
  }
  
  .hero-text {
   
    text-align: center;
    width: 40%;
  }
  
  .hero-text h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .hero-text p {
    color: black;
    margin-bottom: 32px;
  }
  
  .app-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .app-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .app-button i {
    margin-right: 8px;
    font-size: 30px;
  }
  @media (max-width: 991px) and (min-width: 768px) {
   .hero-image{
    display: none;
   }
}
@media (max-width: 664px) and (min-width: 319px) {
    .hero-image{
        display: none;
       }
       .hero-image1{
        display: none;
       }
       
}
 @media (max-width: 768px){
    .app-button { 
        font-size: 14px;
      }
      .app-button i {
       
        font-size: 25px;
      }
      .hero-text { 
        width: 48%;
      }

}
@media (max-width: 664px){
    .hero-text { 
        width: 88%;
      }
      .hero-text h1 {
        font-size: 25px;
      }
      .app-button { 
        font-size: 16px;
        width:150px;
      }
}
@media (max-width: 425px){
    .app-button { 
        font-size: 14px;
        width:150px;
      }
      .hero-text h1 {
        font-size: 23px;
      }
}
@media (max-width: 360px){
    .app-button { 
        font-size: 10px;
        width:200px;
      }

}
@media (max-width: 320px){
    .hero-text h1 {
        font-size: 20px;
      }
      .app-button { 
        font-size: 5px;
        width:230px;
      }
}
@media (max-width: 820px){
    .app-button { 
        font-size: 12px;
        width:300px;
      }
}
@media (max-width: 1024px){
    .app-button { 
        font-size: 14px;
        width:200px;
      }
}

  